.edit_section_container {
    text-align: center;
    margin-bottom: 100px;
}

.edit_container {
    max-width: 760px;
    margin: auto;
    border-radius: 12px;
    border: 1px solid #EEE;
    background: var(--06, #FFF);
    padding: 64px 56px;
}

.edit_heading {
    color: var(--neutral-900, #0F0609);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 50px;
}

.add_item_field {
    border-radius: 8px;
    border: 1px solid var(--neutral-300, #D7D7D7) !important;
    background: var(--07, #F9F9F9) !important;
}


.edit_button {
    display: inline-flex;
    height: 67px;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--03, #8E6147);
    margin-top: 30px;
    color: var(--02, #F7E5CD);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 24px */
}

.edit_button:hover {

    background: var(--03, #8E6147);

    color: var(--02, #F7E5CD);

}